.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: var(--horizontal-space);
  background-color: var(--color-primary);
  color: var(--color-white);
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icon {
  margin-left: 25px;
}
