body {
  margin: 20px;
  height: 1000vh;
}

.btn {
  color: white;
  width: 300px;
  height: 300px;
}

.teal {
  position: fixed;
  left: 200px;
  background-color: teal;
}

.tomato {
  background-color: tomato;
  border-radius: 5px;
}
